body {
	margin: 0;
	padding: 0;
}

body, html {
	height: 100%;
}

/* MENU */



#navigation ul {
	list-style-type: none;
	padding: 0px;
	margin-top: 0px;
	height: 100%;
}

#navigation ul li {
	display: inline-block;
	color: #fff;
	font-family: 'Raleway', 'Josefin Sans';
    font-weight: 300;
    font-size: 30px;
    min-width: 175px;
    height: 100%;
    text-align: center;
}

#navigation ul li:hover, .nav-link.active {
	border-color: #1a2f5a;
	color: #fac902;
}

.nav-link {
	text-decoration: none;
	color: inherit;
	height: 100%;
	width: 100%;
	display: inline-block;
}

.nav-link:hover {
	text-decoration: none;
	color: inherit;
}


	#navigation {
		position: fixed;
		background-color: #1a2f5a;
		opacity: 0.80;
		width: 100%;
		text-align: center;
		height: 110px;
		z-index: 10;
	}


	/* Menu icons */

	.nav-link .home {
		background: url('../img/menusprite.png') no-repeat -3px -3px; width: 46px; height: 44px;
		display: block;
		margin: 15px auto 5px;
	}

	li:hover .nav-link .home, .nav-link.active .home {
		background: url('../img/menusprite.png') no-repeat -3px -52px; width: 46px; height: 44px;
	}

	.nav-link .faq {
		background: url('../img/menusprite.png') no-repeat -55px -3px; width: 46px; height: 45px;
		display: block;
		margin: 15px auto 5px;
	}

	li:hover .nav-link .faq, .nav-link.active .faq {
		background: url('../img/menusprite.png') no-repeat -55px -53px; width: 46px; height: 45px;
	}

	.nav-link .scenarios {
		background: url('../img/menusprite.png') no-repeat -100px -3px; width: 45px; height: 45px;
		display: block;
		margin: 15px auto 5px;
	}

	li:hover .nav-link .scenarios, .nav-link.active .scenarios {
		background: url('../img/menusprite.png') no-repeat -100px -54px; width: 45px; height: 45px;
	}

	.nav-link .photo {
		background: url('../img/menusprite.png') no-repeat -145px -3px; width: 46px; height: 44px;
		display: block;
		margin: 15px auto 6px;
	}

	li:hover .nav-link .photo, .nav-link.active .photo {
		background: url('../img/menusprite.png') no-repeat -145px -53px; width: 46px; height: 44px;
	}

	.nav-link .contact {
		background: url('../img/menusprite.png') no-repeat -196px -11px; 
		width: 45px;
		height: 33px;
		display: block;
		margin: 15px auto 8px;
	}

	li:hover .nav-link .contact, .nav-link.active .contact {
		background: url('../img/menusprite.png') no-repeat -196px -60px; width: 45px; height: 33px;
	}

	.nav-link .offer {
		background: url('../img/menusprite.png') no-repeat -245px -3px; width: 45px; height: 49px;
		display: block;
		margin: 15px auto 0px;
	}

	li:hover .nav-link .offer, .nav-link.active .offer {
		background: url('../img/menusprite.png') no-repeat -245px -53px; width: 45px; height: 49px;
	}

	/* SMALL MENU */

	.nav-small ul li {
		font-size: 26px;
	}

	.nav-small .nav-link span {
		margin-right: 2px;
	}

	#navigation.nav-small {
		position: fixed;
		background-color: #2c3e50;
		opacity: 1;
		width: 100%;
		text-align: center;
		height: 50px;
		z-index: 10;
	}

	.nav-small .nav-link .home {
		background: url('../img/menusprite.png') no-repeat -3px -1px; width: 35px; height: 35px;
		background-size : 205px 73px;
		display: inline-block;
		margin-top: 5px;
		margin-bottom: -6px;
	}

	.nav-small li:hover .nav-link .home, .nav-small .nav-link.active .home {
		background: url('../img/menusprite.png') no-repeat -3px -35px; width: 35px; height: 35px;
		background-size : 205px 73px;
		margin-top: 5px;
		margin-bottom: -6px;
	}

	.nav-small .nav-link .faq {
		background: url('../img/menusprite.png') no-repeat -38px -1px; width: 35px; height: 35px;
		background-size : 205px 73px;
		display: inline-block;
		margin-top: 5px;
		margin-bottom: -7px;
	}

	.nav-small li:hover .nav-link .faq, .nav-small .nav-link.active .faq {
		background: url('../img/menusprite.png') no-repeat -38px -36px; width: 35px; height: 35px;
		background-size : 205px 73px;
		margin-top: 5px;
		margin-bottom: -7px;
	}

	.nav-small .nav-link .scenarios {
		background: url('../img/menusprite.png') no-repeat -70px -1px; width: 31px; height: 35px;
		background-size : 205px 73px;
		display: inline-block;
		margin-top: 5px;
		margin-bottom: -7px;
	}

	.nav-small li:hover .nav-link .scenarios, .nav-small .nav-link.active .scenarios {
		background: url('../img/menusprite.png') no-repeat -70px -37px; width: 31px; height: 35px;
		background-size : 205px 73px;
		margin-top: 5px;
		margin-bottom: -7px;
	}

	.nav-small .nav-link .photo {
		background: url('../img/menusprite.png') no-repeat -101px -1px; width: 35px; height: 35px;
		background-size : 205px 73px;
		display: inline-block;
		margin-top: 5px;
		margin-bottom: -7px;
	}

	.nav-small li:hover .nav-link .photo, .nav-small .nav-link.active .photo {
		background: url('../img/menusprite.png') no-repeat -101px -36px; width: 35px; height: 35px;
		background-size : 205px 73px;
		margin-top: 5px;
		margin-bottom: -7px;
	}

	.nav-small .nav-link .contact {
		background: url('../img/menusprite.png') no-repeat -136px -1px; width: 35px; height: 35px;
		background-size : 205px 73px;
		display: inline-block;
		margin-top: 5px;
		margin-bottom: -6px;
	}

	.nav-small li:hover .nav-link .contact, .nav-small .nav-link.active .contact {
		background: url('../img/menusprite.png') no-repeat -136px -35px; width: 35px; height: 35px;
		background-size : 205px 73px;
		margin-top: 5px;
		margin-bottom: -6px;
	}

	.nav-small .nav-link .offer {
		background: url('../img/menusprite.png') no-repeat -171px -1px; width: 36px; height: 35px;
		background-size : 205px 73px;
		display: inline-block;
		margin-top: 5px;
		margin-bottom: -6px;
	}

	.nav-small li:hover .nav-link .offer, .nav-small .nav-link.active .offer {
		background: url('../img/menusprite.png') no-repeat -171px -36px; width: 36px; height: 35px;
		background-size : 205px 73px;
		margin-top: 5px;
		margin-bottom: -6px;
	}



/* START */


#logo {
	text-align: center;
	background: url('../img/logo.png') no-repeat;
	background-position: center 25%;
	min-height: 779px;
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	z-index: 5;
}

#gradient {
	background: -moz-linear-gradient(top, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0.25) 70%, rgba(0,0,0,0.8) 87%, rgba(0,0,0,0.7) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.15)), color-stop(70%,rgba(0,0,0,0.25)), color-stop(87%,rgba(0,0,0,0.8)), color-stop(100%,rgba(0,0,0,0.7)));
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.15) 0%,rgba(0,0,0,0.25) 70%,rgba(0,0,0,0.8) 87%,rgba(0,0,0,0.7) 100%);
	background: -o-linear-gradient(top, rgba(0,0,0,0.15) 0%,rgba(0,0,0,0.25) 70%,rgba(0,0,0,0.8) 87%,rgba(0,0,0,0.7) 100%);
	background: -ms-linear-gradient(top, rgba(0,0,0,0.15) 0%,rgba(0,0,0,0.25) 70%,rgba(0,0,0,0.8) 87%,rgba(0,0,0,0.7) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0.15) 0%,rgba(0,0,0,0.25) 70%,rgba(0,0,0,0.8) 87%,rgba(0,0,0,0.7) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26000000', endColorstr='#80000000',GradientType=0 );

	background-repeat: repeat-x;
	width: 100%;
	height: 100%;
	min-height: 779px;
	display: block;
	position: absolute;
	z-index: 4;
}

#start {
	height: 100%;
	min-height: 779px;
	background: url('../img/bg.jpg');
	background-size: 100%;
	background-position: 0 -110px;
	text-align: center;
}

.testimonial {
	display: block;
	position: absolute;
	bottom: 3%;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

/* FAQ */
#scenarios {
	height: 450px;
	padding-top: 30px;
}

#scenarios .content {
	width: 925px;
	margin: 0px auto;
	text-align: center;
	margin-bottom: 0px;
}

#scenarios .content div {
	width: 30%;
	display: inline-block;
	text-align: center;
	vertical-align: top;
	margin: auto 14px;
}

#scenarios .content div h2 {
	font-size: 48px;
	font-family: "Open Sans","Raleway";
	font-weight: 300;
	color: #111;
	margin: 15px auto;
}

#scenarios .content div p {
	font-size: 14px;
	font-family: "Open Sans";
	color: #222;
	text-align: justify;
	line-height: 20px;
}


/* OFFER */

#offer {
	min-height: 460px;
	background-color: #18bc9c;
}

#offer .content {
	width: 100%;
	text-align: left;
	vertical-align: top;
}

#offer .content div {
	position: absolute;
	display: inline-block;
	text-align: left;
	margin-left: 50px;
	float: left;
	width: 390px;
}

#offer .content h1, #contact-data h1 {
	color: #fff;
	font-size: 50px;
	font-family: "Open Sans";
	font-weight: 300;
	margin-top: 10px;
	margin-left: 70px;
	text-align: right;
}

#offer .content div p {
	font-size: 14px;
	font-family: "Open Sans";
	color: #fff;
	text-align: justify;
	line-height: 20px;
}

.offer-img {
	display: inline-block;
	float: left;
	margin-top: 20px;
	margin-bottom: 20px;

}

#faq {
	height: 500px;
	background-color: #fff;
}

#photo {
	height: 500px;
	background-color: #fff;
}

#contact {
	height: 430px;
	background-color: #1a2f5a !important;
}

#contact-data {
	text-align: right;
	position:absolute;
	margin-top: -390px;
	margin-left: 13%;
	z-index: 100;
}

#contact-data h1 {
	z-index: 100;
	margin-bottom: 15px;
	font-size: 55px;
}

#contact-data p {
	font-size: 30px;
	font-family: "Open Sans";
	font-weight: 300;
	color: #fff;
	vertical-align: center;
	margin: 20px auto;
	text-align: right;
}

#contact-data p u {
	margin-right: 20px;
	float: left;
	display: inline-block;
}

.contact-mail-ico {
	background: url('../img/icons.png') no-repeat -531px -4px; width: 45px; height: 43px;
	display: inline-block;
	margin-bottom: -20px;
	margin-right: 15px;
	float: left;
}

.contact-phone-ico {
	background: url('../img/icons.png') no-repeat -534px -56px; width: 44px; height: 46px;
	display: inline-block;
	margin-bottom: -20px;
	margin-right: 15px;
	float: left;
}


.gm-style {
	opacity: 0.2;
}


/* ICONS */

.football-ico {
	background: url('../img/icons.png') no-repeat -2px 0;
	width: 177px;
	height: 178px;
	display: block;
	margin: 0 auto;
}

.bowling-ico {
	background: url('../img/icons.png') no-repeat -183px 0;
	width: 178px;
	height: 178px;
	display: block;
	margin: 0 auto;
}

.sumo-ico {
	background: url('../img/icons.png') no-repeat -368px 0;
	width: 154px;
	height: 177px;
	display: block;
	margin: 0 auto;
}
