body {
	margin: 0;
	padding: 0;
}

body, html {
	height: 100%;
}

/* MENU */



#navigation ul {
	list-style-type: none;
	padding: 0px;
	margin-top: 0px;
	height: 100%;
}

#navigation ul li {
	display: inline-block;
	color: #fff;
	font-family: 'Raleway', 'Josefin Sans';
    font-weight: 300;
    font-size: 30px;
    width: 150px;
    height: 100%;
    text-align: center;
}

#navigation ul li:hover {
	border-color: #1a2f5a;
	color: #fac902;
}

.nav-link {
	text-decoration: none;
	color: inherit;
	height: 100%;
	width: 100%;
	display: inline-block;
}

.nav-link:hover {
	text-decoration: none;
	color: inherit;
}

@media screen and (max-height: 779px) {

	#navigation ul li {
		font-size: 26px;
	}

	.nav-link span {
		margin-right: 2px;
	}

	#navigation {
		position: fixed;
		background-color: #1a2f5a;
		opacity: 0.9;
		width: 100%;
		text-align: center;
		height: 50px;
		z-index: 10;
	}

	.nav-link .home {
		background: url('../img/menusprite.png') no-repeat -3px -1px; width: 35px; height: 35px;
		background-size : 182px 73px;
		display: inline-block;
		margin-top: 5px;
		margin-bottom: -6px;
	}

	li:hover .nav-link .home {
		background: url('../img/menusprite.png') no-repeat -3px -35px; width: 35px; height: 35px;
		background-size : 182px 73px;
		margin-top: 5px;
		margin-bottom: -6px;
	}

	.nav-link .faq {
		background: url('../img/menusprite.png') no-repeat -38px -1px; width: 35px; height: 35px;
		background-size : 182px 73px;
		display: inline-block;
		margin-top: 5px;
		margin-bottom: -7px;
	}

	li:hover .nav-link .faq {
		background: url('../img/menusprite.png') no-repeat -38px -36px; width: 35px; height: 35px;
		background-size : 182px 73px;
		margin-top: 5px;
		margin-bottom: -7px;
	}

	.nav-link .offer {
		background: url('../img/menusprite.png') no-repeat -70px -1px; width: 31px; height: 35px;
		background-size : 182px 73px;
		display: inline-block;
		margin-top: 5px;
		margin-bottom: -7px;
	}

	li:hover .nav-link .offer {
		background: url('../img/menusprite.png') no-repeat -70px -37px; width: 31px; height: 35px;
		background-size : 182px 73px;
		margin-top: 5px;
		margin-bottom: -7px;
	}

	.nav-link .photo {
		background: url('../img/menusprite.png') no-repeat -101px -1px; width: 35px; height: 35px;
		background-size : 182px 73px;
		display: inline-block;
		margin-top: 5px;
		margin-bottom: -7px;
	}

	li:hover .nav-link .photo {
		background: url('../img/menusprite.png') no-repeat -101px -36px; width: 35px; height: 35px;
		background-size : 182px 73px;
		margin-top: 5px;
		margin-bottom: -7px;
	}

	.nav-link .contact {
		background: url('../img/menusprite.png') no-repeat -136px -1px; width: 35px; height: 35px;
		background-size : 182px 73px;
		display: inline-block;
		margin-top: 5px;
		margin-bottom: -6px;
	}

	li:hover .nav-link .contact {
		background: url('../img/menusprite.png') no-repeat -136px -35px; width: 35px; height: 35px;
		background-size : 182px 73px;
		margin-top: 5px;
		margin-bottom: -6px;
	}

}

@media screen and (min-height: 780px) {

	#navigation {
		position: fixed;
		background-color: #1a2f5a;
		opacity: 0.80;
		width: 100%;
		text-align: center;
		height: 110px;
		z-index: 10;
	}


	/* Menu icons */

	.nav-link .home {
		background: url('../img/menusprite.png') no-repeat -3px -3px; width: 46px; height: 44px;
		display: block;
		margin: 15px auto 5px;
	}

	li:hover .nav-link .home {
		background: url('../img/menusprite.png') no-repeat -3px -52px; width: 46px; height: 44px;
	}

	.nav-link .faq {
		background: url('../img/menusprite.png') no-repeat -55px -3px; width: 46px; height: 45px;
		display: block;
		margin: 15px auto 5px;
	}

	li:hover .nav-link .faq {
		background: url('../img/menusprite.png') no-repeat -55px -53px; width: 46px; height: 45px;
	}

	.nav-link .offer {
		background: url('../img/menusprite.png') no-repeat -100px -3px; width: 45px; height: 45px;
		display: block;
		margin: 15px auto 5px;
	}

	li:hover .nav-link .offer {
		background: url('../img/menusprite.png') no-repeat -100px -54px; width: 45px; height: 45px;
	}

	.nav-link .photo {
		background: url('../img/menusprite.png') no-repeat -145px -3px; width: 46px; height: 44px;
		display: block;
		margin: 15px auto 6px;
	}

	li:hover .nav-link .photo {
		background: url('../img/menusprite.png') no-repeat -145px -53px; width: 46px; height: 44px;
	}

	.nav-link .contact {
		background: url('../img/menusprite.png') no-repeat 91.163% 15.493%; 
		width: 45px;
		height: 33px;
		display: block;
		margin: 15px auto 8px;
	}

	li:hover .nav-link .contact {
		background: url('../img/menusprite.png') no-repeat 91.163% 84.507%; width: 45px; height: 33px;
	}

}

/* START */


#logo {
	text-align: center;
	background: url('../img/logo.png') no-repeat;
	background-position: center 25%;
	min-height: 779px;
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	z-index: 5;
}

#gradient {
	background: -moz-linear-gradient(top, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0.25) 70%, rgba(0,0,0,0.8) 87%, rgba(0,0,0,0.7) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.15)), color-stop(70%,rgba(0,0,0,0.25)), color-stop(87%,rgba(0,0,0,0.8)), color-stop(100%,rgba(0,0,0,0.7)));
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.15) 0%,rgba(0,0,0,0.25) 70%,rgba(0,0,0,0.8) 87%,rgba(0,0,0,0.7) 100%);
	background: -o-linear-gradient(top, rgba(0,0,0,0.15) 0%,rgba(0,0,0,0.25) 70%,rgba(0,0,0,0.8) 87%,rgba(0,0,0,0.7) 100%);
	background: -ms-linear-gradient(top, rgba(0,0,0,0.15) 0%,rgba(0,0,0,0.25) 70%,rgba(0,0,0,0.8) 87%,rgba(0,0,0,0.7) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0.15) 0%,rgba(0,0,0,0.25) 70%,rgba(0,0,0,0.8) 87%,rgba(0,0,0,0.7) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26000000', endColorstr='#80000000',GradientType=0 );

	background-repeat: repeat-x;
	width: 100%;
	height: 100%;
	min-height: 779px;
	display: block;
	position: absolute;
	z-index: 4;
}

#start {
	height: 100%;
	min-height: 779px;
	background: url('../img/bg.jpg');
	background-size: 100%;
	background-position: 0 -110px;
	text-align: center;
}

.testimonial {
	display: block;
	position: absolute;
	bottom: 3%;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

/* FAQ */
#faq {
	height: 450px;
}

#offer {
	height: 450px;
	background-color: #13264d;
}

#photo {
	height: 500px;
	background-color: yellow;
}

#contact {
	height: 400px;
	background-color: red;
}